[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ReinforcementLearning"]
	path = ReinforcementLearning
	url = https://github.com/nproellochs/reinforcementlearning
